# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

# Tab indentation (no size specified)
[{Makefile,go.mod,go.sum,*.go,*.go.tmpl}]
indent_style = tab
indent_size = 4

# Indentation override for all JS under lib directory
[**.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json, *.yaml}]
indent_style = space
indent_size = 2
