# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

# Tab indentation (no size specified)
[{Makefile,go.mod,go.sum,*.go,*.go.tmpl}]
indent_style = tab
indent_size = 4

# Use tabs
[**.mk]
indent_style = tab
indent_size = 4

# Use tabs
[**.xml]
indent_size = 4

[*.rs]
trim_trailing_whitespace = true
indent_size = 4

[*.py]
indent_size = 4
