go 1.22.2

use (
	.

	./boundaries/api/api-gateway
	./boundaries/billing/wallet
	./boundaries/link/bff
	./boundaries/link/link

	./boundaries/link/supplies/knative/kafka-to-elasticsearch
	./boundaries/marketing/report
	./boundaries/notification/notify
	./boundaries/platform/csi
	./boundaries/platform/istio-extension
	./boundaries/platform/shortctl
	./boundaries/shop/email-subscription
	./boundaries/shortdb/shortdb-operator

	./docs/ADR/decisions/proof/ADR-0007

	./pkg/golangci-lint/value-object
)
