go 1.24.1

use (
	.

	./boundaries/api/api-gateway

	./boundaries/notification/notify

	./boundaries/platform/istio-extension
	./boundaries/platform/shortctl

	./docs/ADR/decisions/proof/ADR-0007

	./pkg/golangci-lint/value-object

	./poc/xa/dtm-example
)
