go 1.21.6

use (
	.

	./docs/ADR/decisions/proof/ADR-0007
	./internal/boundaries/api/api-gateway
	./internal/boundaries/api/bff-web
	// Supplies modules
	./internal/boundaries/link/supplies/knative/kafka-to-elasticsearch
	./internal/boundaries/marketing/report
	./internal/boundaries/payment/wallet
	./internal/boundaries/platform/csi
	./internal/boundaries/platform/shortctl
	./internal/boundaries/shortdb/shortdb-operator
)
