<?xml version="1.0"?>
<clickhouse>
    <listen_host>::</listen_host>
    <timezone>UTC</timezone>

    <max_concurrent_queries>{{ 2 * number_of_cpu_cores }}</max_concurrent_queries>

    <!--- Lower mark cache size from 5GB to 1GB. --->
    <mark_cache_size>1073741824</mark_cache_size>

    <!--
    Choose a value between 1024 and 4096.
    The default is 8192.
    -->
    <merge_max_block_size>1024</merge_max_block_size>

    <merge_tree>
        <!--
        Choose a value between 1GB and 4GB.
        The default is 150GB.
        -->
        <max_bytes_to_merge_at_max_space_in_pool>1073741824</max_bytes_to_merge_at_max_space_in_pool>

        <number_of_free_entries_in_pool_to_lower_max_size_of_merge>0
        </number_of_free_entries_in_pool_to_lower_max_size_of_merge>
    </merge_tree>
</clickhouse>