[Unit]
Description = api
After       = network.target

[Service]
Type = simple

ExecStart = /app/api
ExecStop  = /bin/kill $MAINPID
KillMode  = none

[Install]
WantedBy = multi-user.target