dependency-injector
fastapi
uvicorn
redis
opentelemetry-api==1.17.0
protobuf
loguru
setuptools>=67.7.0 # not directly required, pinned by Snyk to avoid a vulnerability

# For testing:
pytest
pytest-asyncio
pytest-cov
httpx
