dependency-injector
uvicorn
redis
protobuf
loguru
quart
setuptools>=67.7.0 # not directly required, pinned by Snyk to avoid a vulnerability

# Opentelemetry
opentelemetry-api==1.17.0
opentelemetry-sdk
opentelemetry-exporter-otlp

# For testing:
pytest
pytest-asyncio
pytest-cov
httpx
