[defaults]
timeout = 300
forks = 10
inventory = hosts.ini
roles_path = ./playbooks/roles
;deprecation_warnings=False

; Need enable for vagrant
;private_key_file = ~/.vagrant.d/insecure_private_key
;remote_user = vagrant

; Need enable for production
host_key_checking = False
;ansible_python_interpreter = /usr/bin/python3

; TODO: add callback to Slack
; [callback_slack]
; channel = #ansible
; username = Ansible
; validate_certs = yes
; webhook_url =
