basePath: /api
definitions:
  fieldmaskpb.FieldMask:
    properties:
      paths:
        description: The set of field mask paths.
        items:
          type: string
        type: array
    type: object
  github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link:
    properties:
      created_at:
        $ref: '#/definitions/timestamppb.Timestamp'
      describe:
        type: string
      field_mask:
        $ref: '#/definitions/fieldmaskpb.FieldMask'
      hash:
        type: string
      updated_at:
        $ref: '#/definitions/timestamppb.Timestamp'
      url:
        type: string
    type: object
  github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.AddRequest:
    properties:
      link:
        $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link'
    type: object
  github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.AddResponse:
    properties:
      link:
        $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link'
    type: object
  github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.GetResponse:
    properties:
      link:
        $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link'
    type: object
  github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.ListResponse:
    properties:
      links:
        $ref: '#/definitions/v1.Links'
    type: object
  github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.UpdateRequest:
    properties:
      link:
        $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link'
    type: object
  github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.UpdateResponse:
    properties:
      link:
        $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link'
    type: object
  timestamppb.Timestamp:
    properties:
      nanos:
        description: |-
          Non-negative fractions of a second at nanosecond resolution. Negative
          second values with fractions must still have non-negative nanos values
          that count forward in time. Must be from 0 to 999,999,999
          inclusive.
        type: integer
      seconds:
        description: |-
          Represents seconds of UTC time since Unix epoch
          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to
          9999-12-31T23:59:59Z inclusive.
        type: integer
    type: object
  v1.Links:
    properties:
      link:
        items:
          $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link'
        type: array
    type: object
host: shortlink.best
info:
  contact:
    email: support@swagger.io
    name: Shortlink repository
    url: https://github.com/shortlink-org/shortlink/issues
  description: Shortlink API
  license:
    name: MIT
    url: http://www.opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Shortlink API
  version: "1.0"
paths:
  /links:
    get:
      consumes:
      - application/json
      description: List links
      operationId: list-links
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.ListResponse'
      summary: List links
    post:
      consumes:
      - application/json
      description: Add link
      operationId: add-link
      parameters:
      - description: Link
        in: body
        name: link
        required: true
        schema:
          $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.AddRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.AddResponse'
      summary: Add link
  /links/:hash:
    put:
      consumes:
      - application/json
      description: Update link
      operationId: update-link
      parameters:
      - description: Link
        in: body
        name: link
        required: true
        schema:
          $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.UpdateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.UpdateResponse'
      summary: Update link
  /links/{hash}:
    delete:
      consumes:
      - application/json
      description: Delete link
      operationId: delete-link
      parameters:
      - description: Hash
        in: path
        name: hash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
      summary: Delete link
    get:
      consumes:
      - application/json
      description: Get link
      operationId: get-link
      parameters:
      - description: Hash
        in: path
        name: hash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.GetResponse'
      summary: Get link
schemes:
- http
- https
swagger: "2.0"
