{
    "schemes": [
        "http",
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Shortlink API",
        "title": "Shortlink API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "Shortlink repository",
            "url": "https://github.com/shortlink-org/shortlink/issues",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "MIT",
            "url": "http://www.opensource.org/licenses/MIT"
        },
        "version": "1.0"
    },
    "host": "shortlink.best",
    "basePath": "/api",
    "paths": {
        "/links": {
            "get": {
                "description": "List links",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "List links",
                "operationId": "list-links",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.ListResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Add link",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Add link",
                "operationId": "add-link",
                "parameters": [
                    {
                        "description": "Link",
                        "name": "link",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.AddRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.AddResponse"
                        }
                    }
                }
            }
        },
        "/links/:hash": {
            "put": {
                "description": "Update link",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Update link",
                "operationId": "update-link",
                "parameters": [
                    {
                        "description": "Link",
                        "name": "link",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.UpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.UpdateResponse"
                        }
                    }
                }
            }
        },
        "/links/{hash}": {
            "get": {
                "description": "Get link",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Get link",
                "operationId": "get-link",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.GetResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete link",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Delete link",
                "operationId": "delete-link",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    },
    "definitions": {
        "fieldmaskpb.FieldMask": {
            "type": "object",
            "properties": {
                "paths": {
                    "description": "The set of field mask paths.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link": {
            "type": "object",
            "properties": {
                "created_at": {
                    "$ref": "#/definitions/timestamppb.Timestamp"
                },
                "describe": {
                    "type": "string"
                },
                "field_mask": {
                    "$ref": "#/definitions/fieldmaskpb.FieldMask"
                },
                "hash": {
                    "type": "string"
                },
                "updated_at": {
                    "$ref": "#/definitions/timestamppb.Timestamp"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.AddRequest": {
            "type": "object",
            "properties": {
                "link": {
                    "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link"
                }
            }
        },
        "github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.AddResponse": {
            "type": "object",
            "properties": {
                "link": {
                    "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link"
                }
            }
        },
        "github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.GetResponse": {
            "type": "object",
            "properties": {
                "link": {
                    "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link"
                }
            }
        },
        "github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.ListResponse": {
            "type": "object",
            "properties": {
                "links": {
                    "$ref": "#/definitions/v1.Links"
                }
            }
        },
        "github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.UpdateRequest": {
            "type": "object",
            "properties": {
                "link": {
                    "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link"
                }
            }
        },
        "github_com_shortlink-org_shortlink_internal_services_link_infrastructure_rpc_link_v1.UpdateResponse": {
            "type": "object",
            "properties": {
                "link": {
                    "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link"
                }
            }
        },
        "timestamppb.Timestamp": {
            "type": "object",
            "properties": {
                "nanos": {
                    "description": "Non-negative fractions of a second at nanosecond resolution. Negative\nsecond values with fractions must still have non-negative nanos values\nthat count forward in time. Must be from 0 to 999,999,999\ninclusive.",
                    "type": "integer"
                },
                "seconds": {
                    "description": "Represents seconds of UTC time since Unix epoch\n1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to\n9999-12-31T23:59:59Z inclusive.",
                    "type": "integer"
                }
            }
        },
        "v1.Links": {
            "type": "object",
            "properties": {
                "link": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_shortlink-org_shortlink_internal_services_link_domain_link_v1.Link"
                    }
                }
            }
        }
    }
}